### ESMA 3016
### Lab6 : Calculo de Medidas estadisticas
### Edgar Acuna
####  Septiembre 2019
#### Se usaran las librerias pandas, numpy y scipy para calcular medidas estadistica de centralidad y de dispersion

In [37]:
import pandas as pd
import numpy as np
from scipy import stats

In [38]:
#este cojunto de datos esta disponible en kaggle.com
df=pd.read_csv("http://academic.uprm.edu/eacuna/student-por.csv",sep=",")

In [39]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
school        649 non-null object
sex           649 non-null object
age           649 non-null int64
address       649 non-null object
famsize       649 non-null object
Pstatus       649 non-null object
Medu          649 non-null int64
Fedu          649 non-null int64
Mjob          649 non-null object
Fjob          649 non-null object
reason        649 non-null object
guardian      649 non-null object
traveltime    649 non-null int64
studytime     649 non-null int64
failures      649 non-null int64
schoolsup     649 non-null object
famsup        649 non-null object
paid          649 non-null object
activities    649 non-null object
nursery       649 non-null object
higher        649 non-null object
internet      649 non-null object
romantic      649 non-null object
famrel        649 non-null int64
freetime      649 non-null int64
goout         649 non-null int64
Dalc          649 non-null int64
Walc          649 non-null int64
health        649 non-null int64
absences      649 non-null int64
G1            649 non-null int64
G2            649 non-null int64
G3            649 non-null int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB

In [41]:
#Dimension de la base de datos
print(df.shape)

(649, 33)

$$\bar {x}=\frac{\sum_i^n x_i}{n}$$

In [42]:
#Promedio de la variable age
np.mean(df['age'])

16.7442218798151

In [43]:
df.age.mean()

16.7442218798151

In [44]:
#Mediana de la variable age
np.median(df['age'])

17.0

In [45]:
df.age.median()

17.0

In [46]:
#Calulo de la media usando 
stats.describe(df['age'])[2]

16.7442218798151

In [47]:
#calculando la moda de la variable ag
stats.mode(df['age'])

ModeResult(mode=array([17], dtype=int64), count=array([179]))

In [48]:
#Calculando la moda de la variable school
stats.mode(df['school'])[0]

array(['GP'], dtype=object)

In [49]:
#Calculando la moda usando pandas
df.school.mode()

0    GP
dtype: object

In [50]:
#Otra manera de calcular la moda
df.age.value_counts().index[0]

17

In [51]:
x=[3,5,6,7,3,11,3,5,5]
d={'varx': x}
df1=pd.DataFrame(data=d)
df1
df1.varx.mode()

0    3
1    5
dtype: int64

In [52]:
df1.varx.value_counts().index[0]

5

In [53]:
#calculando la media podada del 10% de la variable age
stats.trim_mean(df['age'],0.1)

16.700575815738965

In [54]:
#Calulando la varianza de la variable age usando numpy
np.var(df['age'])

1.4815729307385221

In [55]:
#Calculando la varianza de la variable age usando stats
varianza=stats.describe(df['age'])[3]
print( "la varianza es:", varianza)

la varianza es: 1.483859308718066

### La diferencia de los calculos de la varianza es que en numpy por defecto en la formula de la varianza dividen entre n en cambio en stats dividen entre n-1. En la siguiente celda, hacemos que salgan iguales

In [56]:
#Calculando la varianza de la variable age usando numpy pero dividienedo entre n-1
np.var(df['age'],ddof=1)

1.483859308718057

In [57]:
#Calculando la varianza usando pandas
df.age.var()

1.483859308718057

In [58]:
#Calculando la desviacion estandar de la variable age. El modulo stats no calcula la desviaicon estandar
np.std(df['age'],ddof=1)

1.2181376394800618

In [59]:
#Standar deviation usando pandas
df.age.std()

1.2181376394800618

In [60]:
x1=[8,12,15,17,25,31]
np.var(x1,ddof=1)

72.8

In [61]:
x2=[1008,1012,1015,1017,1025,1031]
np.var(x2,ddof=1)

72.8

In [62]:
#Calculando el coeficiente de variacion
stats.variation(df['age'])*100

7.269366194936092

In [63]:
stats.variation(x1)*100

43.27156090943675

In [64]:
stats.variation(x2)*100

0.7651160082218679

In [65]:
#Primer Criterio para outliers
lower=np.mean(df['age'])-3*np.std(df['age'],ddof=1)
upper=np.mean(df['age'])+3*np.std(df['age'],ddof=1) 
print("El intervalo donde caen los datos que NO son outliers es:", "\n",lower,"-",upper)

El intervalo donde caen los datos que NO son outliers es:
 13.089808961374915 - 20.398634798255287

In [66]:
lower1=df.age.mean()-3*df.age.std()
upper1=df.age.mean()+3*df.age.std()  
print("El intervalo donde caen los datos que NO son outliers es:", "\n",lower1,"-",upper1)

El intervalo donde caen los datos que NO son outliers es:
 13.089808961374915 - 20.398634798255287

In [67]:
#Identificando outliers
for a in df['age']:
    if (a<lower or a>upper):
        print ("outlier",a)

outlier 22
outlier 21
outlier 21